.displayStyleW {
	font-size: 100px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 67px;
	background-color: white;
}

.displayStyleR {
	font-size: 100px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 67px;
	background-color: red;
}

/*
Test button in bottom right corner of 
UI, makes button visible.
*/
.debugVisible {
	font-size: 10px;
	height: 22px;
	width: 33px;

	opacity: 1;
}

/*
Makes button hidden.
*/
.debugHidden {
	font-size: 10px;
	height: 22px;
	width: 33px;

	opacity: 0;
}

/*
Author is aligned to the right.
*/
.authorStyle {
	text-align: right;
	font-family: "Times New Roman";
}

/*
The container for react-bootstrap.
*/
.bootstrapContainer {
	border-style: solid;
	border-width: 1px;
}

/*
Style of the blue Timer Buttons.
*/
.timerButtonStyle {
	width: 100px;
	margin-left: 210px;
}


/*
border-radius makes red background
have rounded corners
*/

