.displayStyleW {
	font-size: 100px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 67px;
	background-color: white;
}

.displayStyleR {
	font-size: 100px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 67px;
	background-color: red;
}

.debugVisible {
	visibility: visible;
}

.debugHidden {
	visibility: hidden;
}

.testButton {
	font-size: 10px;
	height: 22px;
	width: 33px;
	position: absolute;
	bottom: 2px;
	right: 2px;
	/*background-color: black;*/
	display: none;
}

.testButton:hover {
	font-size: 10px;
	height: 22px;
	width: 33px;
	position: absolute;
	bottom: 2px;
	right: 2px;
	background-color: red;
	display: inline;
}


/*
border-radius makes red background
have rounded corners
*/

